/* These make sure the footer stays at the bottom */
.utrecht-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.utrecht-page__content {
    height: 100vh;
}

.utrecht-page-footer {
    margin-top: auto;
}

.header-align {
    padding: 30px;
    text-align: center;
}

.redirect-loader-size {
    width: 80px !important;
    height: 80px !important;
}

.fit-content {
    width: fit-content !important;
}

.utrecht-sidenav {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: unset !important;
    position: relative  !important;

}

.utrecht-sidenav-btn {
    padding: 15px;
}

.utrecht-sidenav__list {
 display: none;
}

.utrecht-sidenav > input {
    position: absolute;
    opacity: 0;
}
.utrecht-form-input{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: unset !important;
    position: relative  !important;
}
.utrecht-sidenav > input:checked + label + .utrecht-sidenav__list{
    display: block;
}


.utrecht-sidenav__link {
    text-align: center;
    display: block;
}
